* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    border-bottom: 1px solid black;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar .logo img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

header .navbar ul {
    display: flex;
    gap: 20px;
}

header .navbar ul li {
    padding: 20px;
}

header .navbar ul li a {
    color: black;
    font-size: 20px;
}